.tamaño{
    font-size: 16px;
}

.fuente{
    font-family: 'Oswald', sans-serif;
}

.color{
    color: #222a3f;
}
.formulario{
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    color: white;
}

.form-control{
    background: rgba(0,0,0,0.6);
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
}

.form-control:focus{
    background: none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder{
    color: white;
}

.ingresar{
    background: #222a3f;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    transition: 0.5s ease-in;
}

.ingresar:hover{
    color: white;
}

.olvide{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;

}

.olvide:hover{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

.olvide1{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 700!important;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);

}

.olvide1:hover{
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

.btn-neon{
    overflow: hidden;
    transition: 0.2s;
    position: relative;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 7px;
}

.espacio{
    letter-spacing: 6px;
}

.btn-neon:hover{
    background: #535250;
    box-shadow: 0 0 10px #535250, 0 0 40px #535250, 0 0 80px #535250;
    transition-delay: 0.65s;
}

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#535250);
}

.btn-neon:hover #span1{
    left: 100%;
    transition: 0.5s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#535250);
}

.btn-neon:hover #span3{
    right: 100%;
    transition:  0.5s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#535250);
}

.btn-neon:hover #span2{
    top: 100%;
    transition:  0.5s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#535250);
}

.btn-neon:hover #span4{
    bottom: 100%;
    transition:  0.5s;
    transition-delay: 0.57s;
}

.neon{
    text-shadow: 0 0 5px #535250;
}

.neon2{
    box-shadow: 0 0 5px #535250, 0 0 20px #535250, 0 0 50px #535250;
}


@media(max-width: 1100px){
    .container{
        position: relative;
        left: -0.6rem;
    }
}